.header {
  width: 99vw;
  height: 5vh;
  background-color: rgb(141, 141, 141);
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: solid yellow 6px;
}

.header-title {
  margin-left: 20px;
  color: white;
  font-size: 25px;
}

.main {
  display: flex;
}

.control-board{
  background-color: rgb(97, 97, 97);
  width: 30vw;
  border-right: solid white 10px;
  color: white;
}

.display {
  height: 95vh;
  width: 70vw;
  background-color: rgb(205, 214, 214);
}